<a href="https://colab.research.google.com/github/alsolisc/Postworks/blob/main/twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#pip install tweepy --upgrade tweepy
# import tweepy
import tweepy as tw
import pandas as pd

In [15]:

# your Twitter API key and API secret
my_api_key = "n1iOpre7at4teVMOJPWEGveqM"
my_api_secret = "2tIls2NpJqMFbyKsr93Hwjq689vv1CvBio9cZitwmtDcdL4ASZ"
# authenticate
auth = tw.OAuthHandler(my_api_key, my_api_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [16]:
query = "noticias politica -is:retweet"
# get tweets from the API
tweets = tw.Cursor(api.search,
              q=query,
              lang="es",
               place_country="MX",
              since="2023-01-01").items(5000)
# store the API responses in a list
tweets_copy = []
for tweet in tweets:
    tweets_copy.append(tweet)
    
print("Total Tweets fetched:", len(tweets_copy))

Total Tweets fetched: 5000

In [ ]:
# intialize the dataframe
tweets_df = pd.DataFrame()
# populate the dataframe
for tweet in tweets_copy:
    hashtags = []
    try:
        for hashtag in tweet.entities["hashtags"]:
            hashtags.append(hashtag["text"])
        text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
    except:
        pass
    tweets_df = tweets_df.append(pd.DataFrame({'user_name': tweet.user.name, 
                                               'user_location': tweet.user.location,\
                                               'user_description': tweet.user.description,
                                               'user_verified': tweet.user.verified,
                                               'date': tweet.created_at,
                                               'text': text, 
                                               'hashtags': [hashtags if hashtags else None],
                                               'source': tweet.source}))
    tweets_df = tweets_df.reset_index(drop=True)
# show the dataframe
tweets_df.head()

In [ ]:
##from google.colab import files
##tweets_df.info()
##tweets_df.to_csv('output.csv', encoding = 'utf-8-sig') 
##files.download('output.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/Colab Notebooks/Tweets.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  tweets_df.to_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
tweet=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Tweets.csv')

In [11]:
tweet.head()
tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        500 non-null    int64
 1   user_name         500 non-null    object
 2   user_location     283 non-null    object
 3   user_description  349 non-null    object
 4   user_verified     500 non-null    bool
 5   date              500 non-null    object
 6   text              500 non-null    object
 7   hashtags          78 non-null     object
 8   source            500 non-null    object
dtypes: bool(1), int64(1), object(7)
memory usage: 31.9+ KB

In [14]:
tweets=tweet.dropna()
tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 22 to 487
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        45 non-null     int64
 1   user_name         45 non-null     object
 2   user_location     45 non-null     object
 3   user_description  45 non-null     object
 4   user_verified     45 non-null     bool
 5   date              45 non-null     object
 6   text              45 non-null     object
 7   hashtags          45 non-null     object
 8   source            45 non-null     object
dtypes: bool(1), int64(1), object(7)
memory usage: 3.2+ KB